@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  @supports (font-variation-settings: normal) {
    @font-face {
      font-family: 'Manrope';
      font-weight: 200 800;
      font-style: normal;
      src: url('/fonts/Manrope[wght].woff2') format('woff2');
    }
  }

  @supports not (font-variation-settings: normal) {
    @font-face {
      font-family: 'Manrope';
      font-weight: 400;
      font-style: normal;
      src: url('/fonts/Manrope-Regular.woff2') format('woff2');
    }
  }

  @font-face {
    font-family: 'Lucette';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Lucette-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Lucette';
    font-weight: 400;
    font-style: italic;
    src: url('/fonts/Lucette-RegularItalic.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Dinish';
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/Dinish-Bold.woff2') format('woff2');
  }
}

@layer components {
  .prose,
  .prose-base,
  .prose-lg,
  .prose-xl,
  .prose-2xl {
    @apply leading-tight;
  }

  .prose :where(a):not(:where([class~='not-prose'] *)):hover {
    @apply decoration-primary;
  }

  .prose :where(h1):not(:where([class~='not-prose'] *)) {
    @apply font-normal;
  }

  .prose :where(em):not(:where([class~='not-prose'] *)) {
    @apply font-serif text-[1.15em];
  }

  .prose :where(small):not(:where([class~='not-prose'] *)) {
    @apply text-muted;
  }
}

@layer utilities {
  @supports (height: 100dvh) {
    .h-screen {
      height: 100dvh;
    }

    .min-h-screen {
      min-height: 100dvh;
    }

    .max-h-screen {
      max-height: 100dvh;
    }
  }
}
