@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  @supports (font-variation-settings: normal) {
    @font-face {
      font-family: 'Manrope';
      font-weight: 200 800;
      font-style: normal;
      src: url('/fonts/Manrope[wght].woff2') format('woff2');
    }
  }

  @supports not (font-variation-settings: normal) {
    @font-face {
      font-family: 'Manrope';
      font-weight: 400;
      font-style: normal;
      src: url('/fonts/Manrope-Regular.woff2') format('woff2');
    }
  }

  @font-face {
    font-family: 'Lucette';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Lucette-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Lucette';
    font-weight: 400;
    font-style: italic;
    src: url('/fonts/Lucette-RegularItalic.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Dinish';
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/Dinish-Bold.woff2') format('woff2');
  }
}

@layer components {
  .prose {
    @apply leading-normal;
  }

  .prose {
    @apply prose-td:pr-12 prose-td:py-1 prose-td:align-top prose-td:leading-normal prose-td:text-muted first:prose-td:text-content;
  }

  .prose :where(a):not(:where([class~='not-prose'] *)) {
    @apply decoration-muted underline-offset-2 md:underline-offset-4;
  }

  .prose :where(a[href^='http']):not(:where([class~='not-prose'] *))::after {
    content: ' ↗';
  }

  .prose :where(a):not(:where([class~='not-prose'] *)):hover {
    @apply decoration-primary;
  }

  .prose :where(h1, h2, h3, h4, h5, h6):not(:where([class~='not-prose'] *)) {
    @apply font-normal;
  }

  .prose :where(em):not(:where([class~='not-prose'] *)) {
    @apply font-serif text-[1.1em];
  }

  .prose :where(small):not(:where([class~='not-prose'] *)) {
    @apply text-muted;
  }

  .prose :where(figure[data-bleed]):not(:where([class~='not-prose'] *)) {
    margin-right: calc((100% - 100vw) + 1rem);
    max-width: calc(100vw - 1rem);
  }

  .prose :where(figcaption):not(:where([class~='not-prose'] *)) {
    @apply text-sm text-muted md:text-[0.5rem];
  }

  .prose figure img,
  .prose figure video {
    @apply my-0;
  }

  .prose tbody tr {
    @apply border-none;
  }

  .prose :where(li):not(:where([class~='not-prose'] *)) {
    @apply my-1;
  }
}

@layer utilities {
  @supports (height: 100dvh) {
    .h-screen {
      height: 100dvh;
    }

    .min-h-screen {
      min-height: 100dvh;
    }

    .max-h-screen {
      max-height: 100dvh;
    }
  }
}
